#list-items {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

@media (min-width: 600px)
{
   #list-items {
    background: #F6F6F6;
    justify-content: space-around;
   }
}